
.About {
    display: flex;
    width: auto;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
    padding: 30px;
    border-radius: 4px;
}


.Portofolio {
    display: flex;
    width: auto;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
    padding: 30px;
    border-radius: 4px;
}


.Blog {
    display: flex;
    width: auto;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
    padding: 30px;
    border-radius: 4px;

}

.card {
    background-color: whitesmoke;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    border-radius: 4px;
}

.Team {
    display: flex;
    width: auto;
    height: fit-content;
    background-color: white;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    margin-top: 40px;
    margin-left: 40px;

    margin-right: 40px;
    padding: 30px;
    border-radius: 4px;
}

.Team img{
border-radius: 50%;
}


.contact {
    display: flex;
    width: auto;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -webkit-box-shadow: 4px 4px 9px 3px rgba(0, 181, 253, 0.33);
    -moz-box-shadow: 24px 4px 9px 3px rgba(0, 181, 253, 0.33);
    padding: 30px;
    border-radius: 4px;
}

.Tittle {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(33, 146, 211);
    text-shadow: 3px 3px 6px rgba(7, 118, 136, 0.6);
}




#profile-pic {
    padding-bottom: 10px;
    
}

.background {
    width: auto;
    height: 100%;
    opacity: 20%;
}




.row p{
    font-style: italic;
}

#sosmed{
    float: right;
}

.logo-fot1{
    padding-top: 25px;
    float: right;
}
.logo-fot2{
    padding-top: 25px;
    float: right;
}
.logo-fot a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}